.header {
    display: flex;
    background-color: #D00909;
    justify-content: space-between;
    padding: 25px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.logoHeader  {
    object-fit: contain;
    width: 180px;
}

.right p {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.hamburguer {
    cursor: pointer;
    color: white;
}

.user {
    cursor: pointer;
    color: white;
}