@import url("https://use.typekit.net/arp2woi.css");
@import "tailwindcss";


@theme {
  --font-neuli: "neulis-sans", sans-serif; 
}
body {
    background-color: #212121;
  }

body {
  font-family: "neulis-sans", sans-serif;
}