@import url("https://use.typekit.net/arp2woi.css");
@import "tailwindcss";


@theme {
  --font-neuli: "neulis-sans", sans-serif; 
}
body {
    background-color: #212121;
    overflow-x: hidden;
  }

body, .Toastify__toast {
  font-family: "neulis-sans", sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
